 body {
    background-color: aliceblue;
    padding: 20px;
 }

 .breed-select {
    margin-bottom: 20px;
    width: 630px;
    padding: 20px;
    font-size: 20px;
    background-color: rgb(214, 239, 232);
 }
 
 .loader {
    display: none;
    margin-left: 30px;
}


.loader.active {
    color: #dc0e0e;
    display: block;
    position: relative;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.loader::after {
    content: '';  
    width: 5px;
    height: 5px;
    background: currentColor;
    position: absolute;
    bottom: 10px;
    right: -5px;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
}
      
@keyframes animloader {
    0% {
      box-shadow: 10px 0 rgba(255, 255, 255, 0), 20px 0 rgba(255, 255, 255, 0);
    }
    50% {
      box-shadow: 10px 0 white, 20px 0 rgba(255, 255, 255, 0);
    }
    100% {
   box-shadow: 10px 0 white, 20px 0 white;
    }
}

.cat-info {
display: none;
}

.cat-info.active {
display: block;
}

.cat-info img {
margin: 30px;
width: 600px;

border-radius: 5px;    
}

.block-js {
display: flex;
font-size: 25px;
text-shadow: 8px -1px 12px rgba(0,0,0,0.49);
box-shadow: 3px -1px 76px -9px rgba(0,0,0,0.65) inset;
-webkit-box-shadow: 3px -1px 76px -9px rgba(0,0,0,0.65) inset;
-moz-box-shadow: 3px -1px 76px -9px rgba(0,0,0,0.65) inset;
border-radius: 5px;
}

.block-text {
padding: 0 90px;
}